[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = "*"
python-multipart = "*"
bcrypt = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.10"
